<div class="box">
  <div class="body">
    <div class="header">
      <div class="title"></div>
      <div class="subtitle"></div>
    </div>
    <div class="content">
      <div class="dates">
        <i class="fa-regular fa-calendar"></i>
        <span></span>
      </div>
      <div class="summary"></div>
      <div class="tags"></div>
    </div>
  </div>
  <div class="polygon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100"
      height="100"
      viewBox="10 25 150 100"
      preserveAspectRatio="none">
      <path
        xmlns="http://www.w3.org/2000/svg"
        d="M29.24 84.66a1 1 0 0 0 .96 1.75l111.82-38.93a1 1 0 0 0-.33-1.97l-57.03.06a17.28 17.28 0 0 0-10.7 3.72z"
        stroke="#343a40"
        stroke-width="3" />
    </svg>
  </div>
</div>