<div class="featured-card">

  <div class="thumbnail">
    {% if include.card.github %}
      <div class="github">
        <a href="{{ include.card.github}}">
          <i class="fab fa-fw fa-github" aria-hidden="true"></i>
        </a>
      </div>
    {% endif %}
    {% if include.card.thumbnail %}
      <img
        src="{{ include.card.thumbnail | relative_url }}"
        alt="{{card.title}}"
        loading="lazy" />
    {% endif %}
  </div>

  <div class="details">
    <div class="title">
      {{ include.card.title }}
    </div>

    <div class="description">
      {{ include.card.description }}
    </div>

    <div class="more">
      {% if include.card.post %}
        <a href="{{ include.card.post }}">learn more
        </a>
      {% endif %}
    </div>
  </div>
</div>