<div class="hero-banner">
  <div id="hero-image" class="container">
    <img src="{{ 'assets/images/work.png' | relative_url }}" alt="hero banner" />
  </div>
  <div id="hero-signature" class="container">
    <div id="signature-name">
      <div id="name">RICARDO</div>
      <div id="last-name">YABEN LOPEZOSA</div>
    </div>
    <div id="signature-info" class="container">
      <div id="signature-info-carrier" class="container">
        <span>PhD student @
          <a href="https://www.dtu.dk/" class="external-link">DTU</a>
        </span>
      </div>
      <div class="container">
        <span class="hashtags">
          <a href="https://www.compute.dtu.dk/english/research/research-sections/cyber">#cybersecurity</a>
          <a href="https://www.compute.dtu.dk/english/phd/current-phd/phd-cyber/ricardo-yaben">#DGS</a>
        </span>
      </div>
    </div>
  </div>
</div>