div.box{
    color: $background-color;
    background: $grey;
    text-align: justify;

    .modal-body{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    div.title {
        font-weight: bold;
    }

    div.subtitle{
        color: mix($background-color, $text-color, 80%);
        font-size: small;
    }

    div.summary{
        //
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        transition: .2s;
    }

    div.dates{
        display: flex;
        flex-flow: wrap;
        gap: 1em;
        align-items: center;

        span{
            display: flex;
            gap: .5em;
            align-items: center;

            div.date{
                border-radius: 50px;
                padding: .1em .8em;
                font-weight: normal;
                background-color: $text-color;
            }
        }
    }

    div.tags{
        display: flex;
        flex-flow: wrap;
        gap: .3em;

        div.tag{
            border-radius: $border-radius;
            padding: .1em .3em;
            border: 0.5px solid mix($background-color, $text-color, 30%);

            width: fit-content;
            font-weight: normal;
        }
    }
}