div.hero-banner{
    display: flex;
    place-content: space-evenly;
    justify-content: center;
    gap: 3em;
    padding: 3em;

    @include breakpoint(max-width $medium) {
        flex-direction: column;
    }

    @include breakpoint($medium-wide){
        flex-direction: row;
        height: 50vh;
    }

    div#hero-image{
        display: flex;
        align-self: center;
        min-width: 50%;
        justify-content: center;

        img{
            max-width: 30em;
        }
    }

    div#hero-signature{
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5em;

        div#signature-name{
            line-height: 1.2;
    
            div#name{
                font-size: xxx-large;
            }
    
            div#last-name{
                font-size: xx-large;
            }
        }
    }
}