div.side-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 20em;
    gap: 10%;

    &.left{
        flex-flow: row-reverse;
        div.title{
            text-align: right;
        }
    }

    > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        width: 20em;

        img{
            max-height: -webkit-fill-available;
        }
        
        > div.description{
            display: flex;
            flex-direction: column;
            text-align: justify;
            gap: .5em;
            
            > div.title{
                font-weight: bold;
                width: -webkit-fill-available;
            }
        }
    }
}